@import url('https://fonts.google.com/selection/embed');
header{
    background-color: rgb(109, 230, 125);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration-color: rgb(222, 228, 222);
    font-family: "Pacifico", cursiva;font-size: 120%; color: rgb(25, 56, 6);
} 

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    a{text-decoration-style: wavy; }
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar .search-bar input {
    padding: 5px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
header ul li{
   margin: 45px;
}
img{
   width: 80%; 
}


